
.mdl-layout__header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 1%;
}
.mdl-layout-title{
    font-size: 3lvh;
}
.mdl-layout__content{
    position: relative;
    margin: 2% auto 2% auto;
    width: 100%;
}
.mdl-grid{
    width: 70%;
    margin: 0 auto 0 auto;
}
.mdl-card{
    width: 98%;
    height: min-content;
    padding: 1%;
}
.mdl-card__title-text{
    font-size: 3lvh;
}
.mdl-card__actions{
    width: auto;
}
.mdl-textfield__label{
    font-size: 2lvh;
}
.mdl-textfield__input{
    font-size: 2lvh;
    font-weight: bolder;
    
}
.mdl-card--border{
    width: 98%;
    margin: 0 auto 0 auto;
}
.mdl-button{
    width: 150px;
    display: inline;
    position: relative;
    font-size: 2lvh;
    text-align: center;
    border-radius: 5px;
    margin: 1% 5% 1% 5%;
}
.mdl-snackbar__text{
    font-size: 2lvh;
}
.mdl-mini-footer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: min-content;
}

.demo-card-wide > .mdl-card__title {
    font-weight: bolder;
    color: #fff;
    height: 190px;
    background: url('img/reg-and-faputa-pixelart-v0-gh2ve5le6kla1.png') top / cover;
  }