.contenido{
    width: 100%;
}
.mdl-layout--fixed-header{
    width: 100%;
    margin: 0 0 2% 0;
}
.mdl-layout__content{
    width: 100%;
    margin: 2% auto 0 auto;
}

.mdl-grid{
    width: 80%;
    margin: 5% auto 5% auto;

}
.mdl-card{
    width: min-content;
    padding: 2px;
}

.mdl-card__actions{
    width: auto;
    margin: 0auto 0 auto;
}

.mdl-button{
    position: relative;
    display: inline;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}
