.mdl-layout__content{
    width: 100%;
    padding: 20px;
}
.mdl-grid{
    width: 70%;
    margin: 0 auto 0 auto;
}

.mdl-button{
    position: relative;
    display: inline;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}
